.remove-button{
  cursor:pointer;
}
.remove-button:hover{
  color:#801515;
}


.details-tab-plot{
  width:100%;
  height:400px;
}

.tt-hint {
  display: none !important;
}

.recommended-add:hover{
  color:green;
}

.follower-head span {
  display: block;
  visibility: hidden;
  position: absolute;
  color: white;
  font-size: 1.5em;
  top: -17px;
  left: -5px;
  font-weight: 800;
}

.follower-head{
  display:inline-block;
  border-radius:50%;
  width:40px;
  height:40px;
  border: 20px solid darkmagenta;
  position:relative;
}

.follower-head span:first-letter {
  visibility:visible;
}

.collapsed .hide-if-collapsed{
 display:none;
 }

.hide-if-not-collapsed{
  color:cornflowerblue;
  display:none;
}

.collapsed .hide-if-not-collapsed{
  display:block;
}

