.remove-button{
  cursor:pointer;
}
.remove-button:hover{
  color:#801515;
}


.details-tab-plot{
  width:100%;
  height:400px;
}

.tt-hint {
  display: none !important;
}

.recommended-add:hover{
  color:green;
}

.follower-head span {
  display: block;
  font-size: 0;
  position: absolute;
  color: white;

  top: -17px;
  left: -5px;
  font-weight: 800;
}

.follower-head{
  display:inline-block;
  border-radius:50%;
  width:40px;
  height:40px;
  border: 20px solid darkmagenta;
  position:relative;
}

.follower-head span::first-letter {
  font-size: 20px;
}

.collapsed .hide-if-collapsed{
  display:none;
}

.hide-if-not-collapsed{
  color:cornflowerblue;
  display:none;
}

.collapsed .hide-if-not-collapsed{
  display:block;
}

.loader {
  display:none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: calc(50vw - 20px);
  z-index: 1;
  top: calc(50vh - 36px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}